echo "ワークスペースを設定しています..."

# devcontainerでbuildの各種スクリプトを直接実行できるようにPYTHONPATHを設定
export PYTHONPATH=$PYTHONPATH:$PWD/build

RPK_FLAG="$PWD/.direnv/rpk_installed"

# rpk のインストールが必要かチェック
if [ ! -f "$RPK_FLAG" ]; then
    export_alias rpk "
        echo 'rpk is not installed. Installing...'
        curl -Lo /tmp/rpk-linux-amd64.zip https://github.com/redpanda-data/redpanda/releases/latest/download/rpk-linux-amd64.zip &&
        mkdir -p ~/.local/bin &&
        export PATH=\"~/.local/bin:\$PATH\" &&
        unzip /tmp/rpk-linux-amd64.zip -d ~/.local/bin/ &&
        rm /tmp/rpk-linux-amd64.zip  # ZIPファイルのクリーンアップ
        echo 'rpk installed successfully.'
        # インストール完了を記録
        touch \"$RPK_FLAG\"
        # .envrc をリロードしてエイリアスを反映
        direnv reload
    "
fi

AWSCLI_FLAG="$PWD/.direnv/awscli_installed"

# awscli のインストールが必要かチェック
if [ ! -f "$AWSCLI_FLAG" ]; then
    export_alias aws "
        echo 'awscli is not installed. Installing...'
        curl 'https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip' -o /tmp/awscliv2.zip &&
        unzip /tmp/awscliv2.zip -d /tmp &&
        sudo /tmp/aws/install &&
        rm -rf /tmp/aws /tmp/awscliv2.zip  # ZIPファイルと解凍されたフォルダのクリーンアップ
        echo 'awscli installed successfully.'
        # インストール完了を記録
        touch \"$AWSCLI_FLAG\"
        # .envrc をリロードしてエイリアスを反映
        direnv reload
    "
fi
