[submodule "apps/koemade"]
	path = apps/koemade
	url = git@github.com:Xo1otl/koemade.git
[submodule "apps/graphnote"]
	path = apps/graphnote
	url = git@github.com:Xo1otl/graphnote.git
[submodule "research/funsearch"]
	path = research/funsearch
	url = git@github.com:Xo1otl/funsearch.git
[submodule "research/qunasys"]
	path = research/qunasys
	url = git@github.com:Xo1otl/qunasys.git
[submodule "research/qpm"]
	path = research/qpm
	url = git@github.com:Xo1otl/qpm.git
