[submodule "artifacts/funsearch"]
	path = artifacts/funsearch
	url = git@github.com:Xo1otl/funsearch.git
[submodule "research/paint_radiation"]
	path = research/paint_radiation
	url = git@github.com:QunaSys/paint_radiation.git
[submodule "research/qpm"]
	path = research/qpm
	url = git@github.com:Xo1otl/qpm.git
[submodule "apps/alphaprobe"]
	path = apps/alphaprobe
	url = git@github.com:Xo1otl/alphaprobe.git
