[submodule "research/funsearch"]
	path = research/funsearch
	url = git@github.com:Xo1otl/funsearch.git
	branch = main
[submodule "research/qpm"]
	path = research/qpm
	url = git@github.com:Xo1otl/qpm.git
	branch = main
