# dependencies
node_modules/
.venv/
.juliaup/
poetry.lock
bun.lockb
vendor/
composer.lock

# build outputs
dist/
out/
__pycache__/
.initialized

# ide and development tools
.lake/
__debug_bin*
.direnv/

# sensitive files
testcredentials.json
awsconfig.json
.env
id_ed25519_Xo1otl
credentials
*credentials.json
*.tar*
.secrets
lemmy.hjson

build/devcontainer/dotfiles/.ssh/id_ed25519_Xo1otl.pub

*.docx
.gradio/
backup/
