
input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
select,
textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    &.width-100,
    .has-form & {
        width: 100%;
    }
}

// input[type="text"],
// input[type="number"],
// textarea {
//     padding: 10px;
// }

input[type="submit"],
input[type="reset"],
button,
.button {
    // width: 100%;
    padding: 0.75em 4em;
    margin: 8px 0;
    display: block;
    background-color: var(--accent-color-3);
    color: #fff;
    border: none;
    border-radius: 5em;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    &.primary {
        background-color: var(--accent-color-1);
        color: #fff;
    }
    &.secondary {
        background-color: var(--accent-color-2);
        color: #fff;
    }
    &.width-100,
    .has-form & {
        width: 100%;
    }
    &[disabled] {
        background-color: var(--disabled-color);
        color: #fff;
        cursor: not-allowed;
    }
}

label {
    font-size: small;
}
