body.mypage {
    display: flex;
    align-items: stretch;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #fff;
    header {
        width: calc( 50% - 320px);
        min-width: 320px;
        padding-top: 5em;
        background-color: #f3f3f3;
        .avator {
            padding: 0;
            margin-inline: auto 1em;
            width: 128px;
            text-align: center;
            img {
                object-fit: cover;
                width: 128px;
                height: 128px;
                border-radius: 100%;
                border: 10px solid #fff;
                box-sizing: border-box;
            }
            figcaption {
                font-weight: bold;
            }
        }
        nav > ul {
            margin: 0;
            padding-inline: 0 2em;
            list-style: none;
            li {
                margin-block: .5em;
                text-align: right;
                ul {
                    padding-inline: 0;
                }
            }
            > li {
                margin-block: 2em;
            }
            b {
                font-size: 1.2rem;
            }
            a {
                color: #333;
                font-weight: bold;
                font-size: 0.9rem;
                text-decoration: none;
            }
        }
    }
    .container {
        width: calc( 50% + 320px);
        margin: 0;
        padding: 2em;
        box-shadow: none;
        h1 {
            margin-top: 5rem;
            font-size: 1.4rem;
        }
        h2 {
            font-size: 1.25rem;
            a {
                color: #333;
                text-decoration: none;
            }
        }
        form {
            margin-block: 0;
        }
        .current-avator {
            margin: 1em 0;
            padding: 0;
            figcaption {
                font-weight: bold;
            }
            img {
                border-radius: 1rem;
            }
        }
        audio {
            width: 100%;
        }
    }
    
}
