# .envrc

FIRST_RUN_FLAG=".initialized"

if [ ! -f "$FIRST_RUN_FLAG" ]; then
  echo "Juliaパッケージを初期化します..."
  julia --project=. -e 'using Pkg; Pkg.instantiate()'
  # フラグファイルを作成
  touch "$FIRST_RUN_FLAG"
fi
